/* Color pallate
#FFFFFF white
#00171F Dark blue
003459 Dark Light blue
007EA7 Light blue
00A8E8 Light
*/



/* Global styles
---------------------*/
.navbar{
  background-color: #00171F;
}
.navbar-brand{
  margin-top: 20px;
  color: #FFFFFF;
}

nav a{
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
}

.name, p,.info{
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

.info{
  padding-bottom: 110px;
}

.intro{
  margin-top: 150px;
}

.aboutMe{
  background-color: #00A8E8;
  padding-bottom: 100px;
}

.aboutMe h3{
  font-family: 'Montserrat', sans-serif;
  margin-top: 90px;
  font-size: 40px;
  margin-bottom: 60px;
  color: #FFFFFF;
}

.aboutMe li{
  font-family: 'Montserrat', sans-serif;
  color: #F4F4F8;
  font-size: 25px;
  text-align: justify;
}
.footer{
font-family: 'Montserrat', sans-serif;
background-color: #007EA7;
padding-top: 95px;
padding-bottom: 65px;
color: #FFFFFF;
font-weight: 200;
text-align: center;
}

.footer a{
  text-decoration: none;
  color: #FFFFFF;
}

ul li.l{
text-decoration: none;
display: inline-block;
padding: 10px;
}

.footer h3{
  font-size: 25px;
}
.copy{
  font-family: 'Montserrat', sans-serif;
  background-color: #003459;
  color: #FFFFFF;
}
/*h1, h2{
  font-family: 'Caveat', cursive;
  font-weight: 400;
}
h1{
  font-size: 80px;
}
h2{
  font-size: 40px;
  margin-top: 0;
}
a{
  color : #E9D2C0;
}

a:hover{
  text-decoration: none;
}
.content-wrap{
  max-width: 950px;
  margin: 0 auto;
  padding: 50px;
  overflow: auto;
} */



/* Header and footers
----------------------*/
/*header, footer{
  background: #1F2041;
  color: #D0CEBA;
}

/* Header
-----------------------*/

/*header h1, header h2{
  color: #E9D2C0;
  margin: 0;
}

.profile-img
{
  float: left;
  width: 300px;
  border-radius: 50%;
  margin-right: 30px;
}

/* footer
-----------------------*/
/*footer{
  text-align: center;
}
.contact-info a
{
  padding: 10px;
  display: inline-block;
}
*/


/* Work Experience
----------------------*/
/*.work{
  background: #4B3F72;
}
*/

/* Education
----------------------*/
/*.education{
  background: #417B5A;
}
*/
